{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {#        {% for classInfo in classInfoList %}#}
        {#            <div>{{ classInfo }}</div>#}
        {#        {% endfor %}#}
        <h2 class="mt-3">수강편람</h2>
        <hr/>
        <div class="row my-3">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>수업번호</th>
                        <th>학수번호</th>
                        <th>강좌</th>
                        <th>강의자</th>
                        <th>상세정보</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for classInfo in classInfoList %}
                        <tr>
                            <td>{{ classInfo.class_id }}</td>
                            <td>{{ classInfo.course_id }}</td>
                            <td>{{ classInfo.course.name }}</td>
                            <td>{{ classInfo.lecturer }}</td>
                            <td class="py-1"><a class="btn btn-primary my-0 py-0 px-1"
                                                href="/lectures/{{ classInfo.class_id }}">보기</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if classInfoList.has_previous %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ classInfoList.previous_page_number }}"
           href="javascript:void(0)">이전</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in classInfoList.paginator.page_range %}
                    {% if page_number >= classInfoList.number|add:-5 and page_number <= classInfoList.number|add:5 %}
                        {% if page_number == classInfoList.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if classInfoList.has_next %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ classInfoList.next_page_number }}"
           href="javascript:void(0)">다음</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
        </div>
        <form id="searchForm" method="get" action="{% url 'lectures' %}">
            <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
        </form>
    </div>


{% endblock %}

{% block script %}
<script type='text/javascript'>

const page_elements = document.getElementsByClassName("page-link");

Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}